[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Just Flying
Comment=Go get a coffee and relax
Categories=Image;
Exec=just-flying
Icon=just-flying