.image-src{
  height: 100vh;
  width: auto;
  top: 0;
  object-fit: cover;
}

.image-container{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: opacity 1.5s ease-in-out;
  align-items: center;
}
